@define-color bar-bg rgba(0, 0, 0, 0);
@define-color main-bg #1d2021;
@define-color main-fg #ebdbb2;
@define-color main-active #d79921;

* {
  font-family: "FiraCode Nerd Font";
  font-weight: bold;
  font-size: 18px;
  min-height: 0;
}

window#waybar {
  background-color: @bar-bg;
  color: @main-fg;
}

#custom-arch {
  background-color: @main-bg;
  border-radius: 10px 10px 10px 10px;
  opacity: 0.9;
  padding: 0px 15px 0px 10px;
  margin: 10px 0px 10px 10px;
}

#clock {
  background: @main-bg;
  border-radius: 10px 10px 10px 10px;
  opacity: 0.9;
  padding: 0px 10px 0px 10px;
  margin: 10px 0px 10px 10px;
}

#workspaces {
  background-color: @main-bg;
  border-radius: 10px 10px 10px 10px;
  opacity: 0.9;
  margin: 10px 0px 10px 10px;
  padding: 0px 10px 0px 10px;
}

#workspaces button {
  padding: 3px;
}

#workspaces button.active {
  color: @main-active;
}

#cpu {
  background-color: @main-bg;
  border-radius: 10px 10px 10px 10px;
  opacity: 0.9;
  padding: 0px 10px 0px 10px;
  margin: 10px 0px 10px 10px;
}

#taskbar {
  background-color: @main-bg;
  margin: 10px 100px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  opacity: 0.9;
}

#task.empty {
  opacity: 0;
  background: none;
}

#window {
  background-color: @main-bg;
  opacity: 0.9;
  padding: 0px 10px 0px 10px;
  margin: 10px 0px 10px 0px;
  border-radius: 10px;
}

#waybar.empty #window {
  background: none;
}

#memory {
  background-color: @main-bg;
  border-radius: 10px 0px 0px 10px;
  opacity: 0.9;
  padding: 0px 0px 0px 10px;
  margin: 10px 0px 10px 0px;
}

#battery {
  background-color: @main-bg;
  border-radius: 0px 0px 0px 0px;
  opacity: 0.9;
  padding: 0px 10px 0px 10px;
  margin: 10px 0px 10px 0px;
}

#pulseaudio {
  background-color: @main-bg;
  border-radius: 0px 0px 0px 0px;
  opacity: 0.9;
  padding: 0px 0px 0px 0px;
  margin: 10px 0px 10px 0px;
}

#pulseaudio.microphone {
  background-color: @main-bg;
  border-radius: 0px 10px 10px 0px;
  opacity: 0.9;
  padding: 0px 10px 0px 10px;
  margin: 10px 10px 10px 0px;
}

#tray {
  background-color: @main-bg;
  border-radius: 10px 10px 10px 10px;
  opacity: 0.9;
  padding: 0px 10px 0px 10px;
  margin: 10px 10px 10px 0px;
}

#custom-powermenu {
  background-color: @main-bg;
  border-radius: 10px 10px 10px 10px;
  margin-right: 10px;
  padding: 0px 15px 0px 10px;
  margin: 10px 10px 10px 0px;
}

